<%- include('../layout/ui_header.ejs') %>
<!-- Page Title -->
<div class="page-title-area page-title-four">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="page-title-item">
        <h2>About</h2>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <i class="icofont-simple-right"></i>
          </li>
          <li>About</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Page Title -->

<!-- About -->
<div class="about-area pt-100 pb-70">
  <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-6">
          <div class="about-item">
            <div class="about-left">
              <img src="/assets/img/home-one/4.jpeg" alt="About" />
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="about-item about-right">
            <img src="/assets/img/home-one/5.png" alt="About" />
            <h2>About Our Hospital</h2>
            <p>
              Welcome to Delhi Hospital, a NABH Grade 2 certified multispecialty healthcare institution renowned for its
              pioneering
              expertise in orthopedics. Strategically located in the heart of haryana we have been committed to
              delivering exceptional
              healthcare services to our community.
      
            </p>
            <p>Our hospital stands out as a leader in orthopedic care, offering advanced treatments for joint
              replacements, fractures,
              spine surgeries, and sports injuries. Equipped with state-of-the-art facilities, including an in-house
              diagnostic lab
              and cutting-edge testing infrastructure, we ensure seamless and accurate care under one roof.
            </p>
            <p>Delhi Hospital is proud to be a part of the government healthcare panel, further extending our services
              to a wider
              demographic. Beyond orthopedics, we provide comprehensive care across multiple specialties, ensuring
              holistic treatment
              for patients of all ages.
            </p>
            <p>Our team of highly skilled doctors, compassionate nurses, and dedicated staff work tirelessly to deliver
              personalized
              treatment plans, ensuring each patient’s journey to recovery is smooth and efficient.
            </p>
            <p>At Delhi Hospital, your health is our priority. Together, let’s build a healthier</p>
            <a href="/about">Know More</a>
          </div>
        </div>
      </div>
  </div>
</div>
<!-- End About -->

<!-- Counter -->
<div class="counter-area counter-bg counter-area-four">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="counter-item">
          <i class="icofont-patient-bed"></i>
          <h3>
            <span class="odometer" data-count="850">00</span>
          </h3>
          <p>Patients Beds</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="counter-item">
          <i class="icofont-people"></i>
          <h3>
            <span class="odometer" data-count="2500">00</span>
            <span class="target">+</span>
          </h3>
          <p>Happy Patients</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="counter-item">
          <i class="icofont-doctor-alt"></i>
          <h3>
            <span class="odometer" data-count="750">00</span>
          </h3>
          <p>Doctors & Nurse</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="counter-item">
          <i class="icofont-badge"></i>
          <h3>
            <span class="odometer" data-count="18">00</span>
          </h3>
          <p>Year Experience</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Counter -->

<!-- Speciality -->
<section class="speciality-area pb-100">
<div class="container">
  <div class="section-title">
    <h2>Facility Available</h2>
  </div>
  <div class="row align-items-center justify-content-center">
    <div class="col-lg-6">
      <div class="expertise-item">
        <div class="row justify-content-center">
          <div class="col-sm-6 col-lg-6 wow fadeInUp" data-wow-delay=".3s">
            <a href="/blog">
              <div class="expertise-inner">
                <i class="icofont-doctor-alt"></i>
                <h3>Certified Doctors</h3>
                <p>
                  Our team of certified doctors is dedicated to providing the
                  highest standard of medical care to our patients.
                </p>
              </div>
            </a>
          </div>
          <div class="col-sm-6 col-lg-6 wow fadeInUp" data-wow-delay=".5s">
            <a href="/blog">
              <div class="expertise-inner">
                <i class="icofont-stretcher"></i>
                <h3>Emergency</h3>
                <p>
                  We offer 24/7 emergency services to ensure immediate medical
                  attention for critical cases.
                </p>
              </div>
            </a>
          </div>
          <div class="col-sm-6 col-lg-6 wow fadeInUp" data-wow-delay=".3s">
            <a href="/blog">
              <div class="expertise-inner">
                <i class="icofont-network"></i>
                <h3>Technology</h3>
                <p>
                  Equipped with cutting-edge medical technology to deliver
                  accurate diagnoses and advanced treatments.
                </p>
              </div>
            </a>
          </div>
          <div class="col-sm-6 col-lg-6 wow fadeInUp" data-wow-delay=".5s">
            <a href="/blog">
              <div class="expertise-inner">
                <i class="icofont-ambulance-cross"></i>
                <h3>Ambulance</h3>
                <p>
                  Our well-equipped ambulances ensure timely transportation
                  and on-the-spot medical care for emergencies.
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="expertise-item">
        <div class="expertise-right">
          <img class="h-100 rounded-3" src="/assets/img/home-one/6.jpeg" alt="Expertise" />
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- End Speciality -->

<!-- Services -->
<section class="services-area pb-70">
  <div class="container">
    <div class="section-title">
      <h2>Our Hospital Services</h2>
    </div>
    <div class="row justify-content-center">
      <% services.forEach((service) => { %>
      <div class="col-sm-6 col-lg-3 wow fadeInUp" data-wow-delay=".3s">
        <div class="service-item">
          <div class="service-front">
            <!-- <i class="icofont-doctor"></i> -->
            <img
              height="50px"
              width="50px"
              src="/uploads/<%= service.servicesImage %>"
              alt="Services"
            />
            <h3><%= service.title %></h3>
            <p class="services_description_truncate"><%= service.description %></p>
          </div>
          <div class="service-end">
            <img
               height="50px"
              width="50px"
              src="/uploads/<%= service.servicesImage %>"
              alt="Services"
            />
            <h3><%= service.title %></h3>
            <p class="services_description_truncate"><%= service.description %></p>
            <a href="/service-details/<%= service.id%>">Read More</a>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</section>
<!-- End Services -->

<!-- Testimonials -->
<section class="testimonial-area ptb-100">
  <div class="container">
    <div class="testimonial-wrap">
      <h2>What our patient say</h2>

      <div class="testimonial-slider owl-theme owl-carousel">
        <% testimonials.forEach((testimonial)=>{ %>
        <div class="testimonial-item">
          <img height="100" width="100"
           src="/uploads/<%= testimonial.testimonialImage %>"
            alt="Testimonial"
          />
          <h3><%= testimonial.name %></h3>
          <p><%- testimonial.description %></p>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</section>
<!-- End Testimonials -->

<!-- Blog -->
<section class="blog-area pt-100 pb-70">
  <div class="container">
    <div class="section-title">
      <h2>Our Latest Blogs</h2>
    </div>
    <div class="row justify-content-center">
   <% blogs.slice(0,3).forEach((blog) => { %>
      <div class="col-sm-6 col-lg-4 wow fadeInUp" data-wow-delay=".3s">
        <div class="blog-item">
          <div class="blog-top">
            <a href="/blog-details/<%= blog.id %>">
              <img class="blog_image"  src="/uploads/<%= blog.blogImage %>" alt="Blog" />
            </a>
          </div>
          <div class="blog-bottom">
            <h3>
              <a href="/blog-details/<%= blog.id %>"> <%= blog.title %> </a>
            </h3>
            <p><%- blog.description %></p>
            <ul>
              <li>
                <a href="/blog-details/<%= blog.id %>">
                  Read More
                  <i class="icofont-long-arrow-right"></i>
                </a>
              </li>
              <li>
                <i class="icofont-calendar"></i>
                <%= new Date(blog.created).toLocaleDateString() %>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</section>

<script src="assets/js/owl.carousel.min.js"></script>
<!-- Meanmenu JS -->
<script src="assets/js/jquery.meanmenu.js"></script>
<!-- Slider Slider JS -->
<script src="assets/js/slick.min.js"></script>
<!-- Magnific Popup -->
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<!-- Wow JS -->
<script src="assets/js/wow.min.js"></script>
<!-- Form Ajaxchimp JS -->
<script src="assets/js/jquery.ajaxchimp.min.js"></script>
<!-- Form Validator JS -->
<script src="assets/js/form-validator.min.js"></script>
<!-- Contact JS -->
<script src="assets/js/contact-form-script.js"></script>
<!-- Odometer JS -->
<script src="assets/js/odometer.min.js"></script>
<script src="assets/js/jquery.appear.min.js"></script>
<!-- Custom JS -->
<script src="assets/js/custom.js"></script>
<%- include("../layout/ui_footer.ejs") %>
